@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Slab:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Slab", serif;
}
.main-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.sec-container {
  display: flex;
  justify-content: center;
}
.btns-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  width: 0;
  margin-top: 10vh;
  background-color: transparent;
}

.btn {
  height: 10vh;
  width: 10vh;
  border-radius: 3vh;
  margin: 1vh 1vh;
  background-color: c;
  color: #03a2ff;
  font-size: 3.5vh;
  border: none;
  cursor: pointer;
}
.row1 {
  margin-left: 0.7vh;
}
.row1 :nth-child(5) {
  width: 20vh;
  position: relative;
  z-index: 10;
  
}
.row1 :nth-child(1) {
  color: dimgrey;
}
.row2 :nth-child(1) {
  color: rgb(255, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.row2 {
  position: relative;
  left: -10vh;
}
.row3 {
  position: relative;
  left: -10vh;
}
.row3 :nth-child(1) {
  background-color: #abddff;
}
.row4 {
  position: relative;
  left: -10vh;
}
.row4 :nth-child(1) {
  background-color: #abddff;
}
.row4 :nth-child(3) {
  background-color: #abddff;
}
.row4 :nth-child(2) {
  background-color: #abddff;
}
.row4 :nth-child(5) {
  background-color: #0385ff;
  color: white;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.input {
  height: 10vh;
  width: 41vh;
  font-size: 4vh;
  background-color: white;
  text-align: right;
  color: black;
  border: none;
  border-radius: 11px;
}
.backspace {
  height: 30px;
  width: 30px;
  opacity: 65%;
}
.dark-light-btn {
  height: 68px;
  width: 30px;
  float: right;
  margin-right: 30px;
  margin-top: -80px;
  opacity: 70%;
}
.light-btn {
  fill: white;
}
.dark-light-toggle {
  display: none;
}

@media only screen and (max-width: 550px) and (min-width: 450px) {
  .btns-container {
    margin-top: 16vh;
  }
  .btn {
    height: 9vh;
    width: 9vh;
    margin: 11px 9px;
  }
  .row1 {
    margin-left: 10vh;
  }
  .main-container {
    height: 100%;
    width: 100%;
  }
  .dark-light-btn {
    margin-top: -210px;
    height: 50px;
    width: 25px;
  }
  .input-container {
    margin-top: 22vh;
  }
}

/* Media querie for iPhone SE, Samsung Galaxy S8+ and iPhone 12 Pro */
@media only screen and (max-width: 400px) and (min-width: 350px) {
  .row1 {
    margin-left: 9.7vh;
  }
  .btns-container {
    top: 59%;
  }
  .backspace {
    height: 25px;
    width: 25px;
  }
  .btn {
    height: 9vh;
    width: 9vh;
  }
  .input-container {
    margin-top: 28vh;
  }
  .dark-light-btn {
    height: 45px;
    width: 20px;
    margin-top: -170px;
    margin-right: 40px;
  }
}

/* Media querie for iPhone XR, Pixel 7, Samsung Galaxy S20 Ultra, Samsung Galaxy A15/71 and iPhopne 14 Pro Max*/
@media only screen and (max-width: 450px) and (min-width: 400px) {
  .btns-container {
    margin-top: 13vh;
  }
  .row1 {
    margin-left: 9.7vh;
  }
  .dark-light-btn {
    margin-top: -10px;
  }
  .btn {
    margin: 1vh 0.8vh;
    height: 9vh;
    width: 9vh;
  }
  .input-container {
    margin-top: 25vh;
  }
  .btns-container {
    top: 53%;
  }
  .dark-light-btn {
    margin-top: -209px;
  }
}

/* Media querie for iPad Mini */
@media only screen and (max-width: 820px) and (min-width: 760px) {
  .dark-light-btn {
    margin-right: 177px;
  }
  .btns-container {
    margin-left: 3vh;
    margin-top: 8vh;
  }
  .input-container {
    margin-top: 18vh;
  }
  .dark-light-btn {
    margin-top: -190px;
  }
}

/* Media querie for iPad Air */
@media only screen and (max-width: 1020px) and (min-width: 820px) and (max-height: 1200px) {
  .row1 {
    margin-left: 8.7vh;
  }
  .btns-container {
    top: 39%;
  }
  .btn {
    height: 9vh;
    width: 9vh;
  }
  .dark-light-btn {
    margin-right: 174px;
    margin-top: -175px;
  }
  .input-container {
    margin-top: 14vh;
  }
}

/* Media querie for Surface Pro 7 */
@media only screen and (max-width: 1080px) and (min-width: 910px) and (min-height: 1367px) {
  .row1 {
    margin-left: 9.7vh;
  }
  .btns-container {
    top: 33%;
  }
  .input-container {
    margin-right: 2%;
    margin-top: 12vh;
  }
  .dark-light-btn {
    margin-right: 188px;
    margin-top: -170px;
  }
  .btn {
    height: 8vh;
    width: 9vh;
    margin: 0.5vh 1vh;
  }
}

/* Media querie for iPad Pro */
@media only screen and (max-width: 1280px) and (min-width: 1020px) and (min-height: 1340px) {
  .row1 {
    margin-left: 7.7vh;
  }
  .dark-light-btn {
    margin-right: 251px;
    margin-top: -120px;
  }
  .input-container {
    margin-top: 8vh;
  }
  .btn {
    height: 8vh;
    width: 9vh;
  }
  .btns-container {
    top: 31%;
  }
}

/* Media querie for Suraface Duo */
@media only screen and (min-width: 530px) and (min-height: 700px) and (max-width: 630px) {
  .btns-container {
    margin-top: 17vh;
  }
  .btn {
    height: 10vh;
    width: 10vh;
  }
  .input-container {
    margin-top: 26vh;
    margin-right: 1%;
  }
  .dark-light-btn {
    margin-top: -188px;
    margin-right: 100px;
  }
}

/* Media querie for Galaxy Fold */
@media only screen and (min-width: 250px) and (max-width: 350px) {
  .btn {
    height: 9vh;
    width: 8vh;
  }
  .row1 :nth-child(5) {
    width: 18vh;
  }
  .row1 {
    margin-left: 9.7vh;
  }
  .btns-container {
    top: 59%;
  }
  .input-container {
    margin-right: 22%;
    margin-top: 30vh;
  }
  .dark-light-btn {
    height: 32px;
    width: 17px;
    margin-right: 23px;
    margin-top: -178px;
  }
}

/* Media querie for Nest Hub */
@media only screen and (min-width: 1020px) and (max-height: 780px) and (max-width: 1280px) {
  .btns-container {
    top: 58%;
    left: 53%;
  }
  .input-container {
    margin-right: -1%;
    margin-top: 29vh;
  }
  .dark-light-btn {
    height: 56px;
    width: 24px;
    margin-right: 377px;
    margin-top: -177px;
  }
}

/* Media querie For Nest Hub Max */
@media only screen and (min-width: 1280px) and (min-height: 800px) and (max-width: 1480px) {
  .btns-container {
    top: 59%;
  }
  .input-container {
    margin-right: 7%;
    margin-top: 30vh;
  }
  .dark-light-btn {
    margin-right: 496px;
    margin-top: -243px;
  }
}
@media only screen and (min-width: 1350px) and (min-height: 760px) {
  .btns-container {
    top: 58%;
    left: 53%;
  }
  .input-container {
    margin-right: 1%;
    margin-top: 28vh;
  }
  .dark-light-btn {
    height: 63px;
    width: 24px;
    float: right;
    margin-right: 650px;
    margin-top: -230px;
  }
  .row1:nth-child(5) {
    width: 23vh;
  }
}
@media only screen and (max-height: 450px) and (min-height: 350px) {
  .dark-light-btn {
    width: 15px;
    margin-right: 410px;
    margin-top: -70px;
  }
  .btns-container{
    top: 52%;
  }
  .input-container{
    margin-top: 15vh;
    margin-right: -3.5%;
  }
  .backspace{
    width: 3.5vh;
  }
}
